<section id="nosotros" class="container mb-5" style="margin-top: 120px; min-height: 350px;">
    <div class="container py-4">
        <div class="row mb-4">
            <div class="col-12">
                <h1 class="h1 text-center mb-4">Contáctenos</h1>
                <p>
                    Si tienes alguna consulta, sugerencia o necesitas asistencia, no dudes en escribirnos. Ya seas usuario o administrador de instalaciones deportivas, 
                    estamos aquí para ayudarte. Por favor, completa el siguiente formulario con tus datos y el motivo de tu mensaje, y nos pondremos en contacto contigo 
                    lo antes posible.
                </p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-4">
                <form [formGroup]="contactusForm" class="form">
                    <div class="form-group mb-2">
                        <input type="text" formControlName="nombre" placeholder="Nombre" class="form-control">
                    </div>
                    <div class="form-group mb-2">
                        <input type="text" formControlName="apellido" placeholder="Apellido" class="form-control">
                    </div>
                    <div class="form-group mb-2">
                        <input type="email" formControlName="correo" placeholder="Correo" class="form-control">
                    </div>
                    <div class="form-group mb-2">
                        <textarea formControlName="mensaje" placeholder="Mensaje" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-2">
                        <button (click)="__onSubmit()" class="btn btn-primary">Enviar</button>
                    </div>
                </form>
            </div>
            <div class="col-8">
                <p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d124791.8054087071!2d-77.13943303749997!3d-12.197819999999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105b9e0f449b10f%3A0x876705c16ffc17d7!2sUniversidad%20Peruana%20de%20Ciencias%20Aplicadas%20(UPC)!5e0!3m2!1ses-419!2spe!4v1725415166864!5m2!1ses-419!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </p>
                <div class="row">
                    <div class="col-12">Teléfono: +51 993 000 444</div>
                    <div class="col-12">Dirección: Av. Santiago de Surco Nro. 352</div>
                </div>
            </div>
        </div>
    </div>
</section>
