<section id="nosotros" class="container mb-5" style="margin-top: 120px; min-height: 350px;">
    <div class="container py-4">
        <div class="row mb-4">
            <div class="col-12">
                <h1 class="h1 text-center mb-4">Nosotros</h1>
                <p>
                    En <strong>Decidetucancha.com</strong>, estamos comprometidos a ofrecer la mejor experiencia en la gestión de reservas deportivas. 
                    Nuestra plataforma está diseñada para facilitar el proceso de búsqueda y reserva de canchas, permitiendo a los usuarios encontrar 
                    el espacio ideal para practicar su deporte favorito de manera rápida y sencilla.
                </p>
                <p>
                    Nuestra misión es conectar a los entusiastas del deporte con instalaciones de alta calidad, brindando una solución efectiva tanto para 
                    quienes buscan espacios deportivos, como para quienes administran canchas, centros deportivos, y clubes. Nos enorgullece ser una 
                    plataforma confiable, moderna y de fácil uso, donde la satisfacción de nuestros usuarios es nuestra principal prioridad.
                </p>
                <p>
                    En <strong>Decidetucancha.com</strong>, creemos que el deporte es una parte fundamental de la vida, y estamos aquí para asegurarnos 
                    de que la reserva de espacios deportivos nunca sea un obstáculo para disfrutarlo.
                </p>
            </div>
        </div>
    </div>
</section>
  