

h1, h2, h3, h4, h5, h6,p, a,ul, li {
    margin: 0px !important;
}


.list-foot li {
    margin-bottom: 10px !important;
    text-align: center;
}

.list-foot li a{
    color: #fff;
    text-decoration: none;
}