<div class="head-top container">
  <img src="../../../assets/images/logo.png" alt="" width="110">
  <nav class="">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link " routerLink="home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="aboutus">Aboutus</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contactus">Contactus</a>
      </li>
    </ul>
  </nav>
</div>
<section style="min-height: 550px; padding-top: 0;">
  <router-outlet></router-outlet>
</section>

<footer class="box-footer">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <img src="" alt="">
        <p>Lorem ipsum dolor, libero sit eligendi expedita, hic deserunt corporis eaque.</p>
      </div>
      <div class="col-5">
          <ul>
            <li>
              <a href="#">Terminos y Condiciones</a>
            </li>
            <li>
              <a href="#">Politica de privacidad</a>
            </li>
            <li>
              <a href="#">Contactanos</a>
            </li>
          </ul>
      </div>
      <div class="col-3">
        <ul>
          <li>
            <img src="" alt="">
            <p>Facebook</p>
          </li>
          <li>
            <img src="" alt="">
            <p>Instagram</p>
          </li>
          <li>
            <img src="" alt="">
            <p>Twiter</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="inf-footer">
    <div class="col-12">Decide tu cancha 2024| Todos los derechos reservados | Powered by Grupo 5</div>
  </div>
</footer>