.box-login {
    border: 1px solid #ebebeb;
    padding: 20px;
    border-radius: 6px;
    box-shadow: -3px 4px 4px -2px rgb(0 0 0 / 10%);
    margin-bottom: 50px;
}

.mrg-bot30{
    margin-bottom: 30px;
}

.txt-log{
    text-align: center;
    line-height: 17px;
    font-size: 15px;
    margin-bottom: 30px !important;
}