<div class="banner-fondo">
  <section class="landing-hero">
    <div class="landing-hero-content">
        <img class="landing-logo" src="../../../assets/images/logo.png" alt="Decide tu Cancha Logo">
        <h1 class="landing-hero-title">Decide tu Cancha - Reserva tu Espacio Deportivo</h1>
        <p class="landing-hero-description">
            Reserva en línea tu cancha favorita, consulta el estado de tus reservas y accede a promociones exclusivas
        </p>
        <div class="container">
            <section class="search-form">
                <form class="row g-3">
                    <div class="col-md-3">
                        <input type="text" class="form-control" placeholder="Tipo de Cancha">
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" placeholder="Sede">
                    </div>
                    <div class="col-md-3">
                        <input type="date" class="form-control">
                    </div>
                    <div class="col-md-2">
                        <input type="time" class="form-control">
                    </div>
                    <div class="col-md-1">
                        <button type="submit" class="btn btn-primary">Buscar</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
  </section>

  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="col">
            <div class="card">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
      </div>
      <div class="carousel-item">
        <div class="col">
            <div class="card">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
      </div>
      <div class="carousel-item">
        <div class="col">
            <div class="card">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>