<div class="banner-fondo">
  <section class="landing-hero">
    <div class="landing-hero-content">
        <img class="landing-logo" src="../../../assets/images/logo.png" alt="Decide tu Cancha Logo">
        <h1 class="landing-hero-title">Decide tu Cancha - Reserva tu Espacio Deportivo</h1>
        <p class="landing-hero-description">
            Reserva en línea tu cancha favorita, consulta el estado de tus reservas y accede a promociones exclusivas
        </p>
        <div class="container">
            <section class="search-form">
                <form class="row g-3">
                    <div class="col-md-3">
                        <input type="text" class="form-control" placeholder="Tipo de Cancha">
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" placeholder="Sede">
                    </div>
                    <div class="col-md-3">
                        <input type="date" class="form-control">
                    </div>
                    <div class="col-md-2">
                        <input type="time" class="form-control">
                    </div>
                    <div class="col-md-1">
                        <button type="submit" class="btn btn-primary">Buscar</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
  </section>
</div>

  <div class="container">
    <img src="../../../assets/images/banner-home/portada.jpg" alt="" class="content-img">

    <div class="block-tittle">
      <h2>Con la confianza de miles de Clientes Felices</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit, voluptatem possimus dolorem veniam quos aperiam itaque quis. Ea debitis harum dicta sequi excepturi veritatis!</p>
    </div>
  </div>

  <div class="container mrg-top30">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="dis-flex">
              <img src="../../../assets/images/avatar.jpg"  alt="..." width="30">
              <div>
                <h4>Juan Carlos Moreno</h4>
                <p>Lima, Per&uacute;</p>
              </div>
           </div>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="dis-flex">
              <img src="../../../assets/images/avatar.jpg"  alt="..." width="30">
              <div>
                <h4>Juan Carlos Moreno</h4>
                <p>Lima, Per&uacute;</p>
              </div>
           </div>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="dis-flex">
              <img src="../../../assets/images/avatar.jpg"  alt="..." width="30">
              <div>
                <h4>Juan Carlos Moreno</h4>
                <p>Lima, Per&uacute;</p>
              </div>
           </div>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
     
    </div>
  </div>


    <div class="container back-sky">
      <div class="dis-fle-btw">
        <div class="col-5">
          <h3>&Uacute;nete a nuestro bolet&iacute;n y no te pierdas ninguna novedad</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto tempore similique hic ea ab, nam nulla earum fugiat quibusdam nihil soluta cumque expedita dignissimos quam! Enim officia vitae ipsa nostrum.</p>
        </div>
        <div class="col-4">
          <div class="dis-flex">
            <input type="text" class="form-control" placeholder="Correo Electronico">
            <button type="button" class="btn btn-primary">Enviar</button>
          </div>
        </div>
      </div>
    </div>

    <section class="mrg-30">
      <div class="container">
        <div class="row">
          <div class="col-2" style="text-align: center;">
            <img src="../../../assets/images/marcas/olimpo.jpg" alt="" class="img-sponsor">       
          </div>
          <div class="col-2" style="text-align: center;">
            <img src="../../../assets/images/marcas/betano.png" alt="" class="img-sponsor">       
          </div>
          <div class="col-2" style="text-align: center;">
            <img src="../../../assets/images/marcas/at.jpeg" alt="" class="img-sponsor">       
          </div>
          <div class="col-2" style="text-align: center;">
            <img src="../../../assets/images/marcas/stake.jpg" alt="" class="img-sponsor">       
          </div>
          <div class="col-2" style="text-align: center;">
            <img src="../../../assets/images/marcas/betano.png" alt="" class="img-sponsor">       
          </div>
          <div class="col-2" style="text-align: center;">
            <img src="../../../assets/images/marcas/olimpo.jpg" alt="" class="img-sponsor">       
          </div>
        </div>
      </div>
    </section>
