<footer class="box-footer">
    <div class="container">
      <div class="row" style="align-items: center;">
        <div class="col-3">
          <img src="../../../assets/images/logo.png" alt="" width="120">
        </div>
        <div class="col-6">
          <ul class="list-inline">
            <li class="list-inline-item m-3">
              <a href="#">Términos y Condiciones</a>
            </li>
            <li class="list-inline-item m-3">
              <a href="#">Política de Privacidad</a>
            </li>
            <li class="list-inline-item m-3">
              <a href="#">Contáctanos</a>
            </li>
          </ul>
        </div>
        
        <div class="col-3">
          <ul class="dis-fle-btw">
            <li>
              <img src="../../../assets/images/icons/facebook.png" alt="" width="30">
            </li>
            <li>
              <img src="../../../assets/images/icons/insta.png" alt="" width="30">
            </li>
            <li>
              <img src="../../../assets/images/icons/linke.png" alt="" width="30">
            </li>
            <li>
              <img src="../../../assets/images/icons/twit.png" alt="" width="30">
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="inf-footer">
      <div class="col-12">Decide tu cancha 2024| Todos los derechos reservados | Powered by Grupo 5</div>
    </div>
  </footer>